/* .box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    margin-top: 100px;
    padding: 130px;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: auto;
    margin-top: 100px;
    padding: 130px;
    border-radius: 50%;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: auto;
    margin-top: 100px;
    padding: 130px;
    border-radius: 20%;
} */
 /* body{
    background-color: green;
 }
 .box{
    width: 200px;
    height: 30px;
    background-color: blue;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
 }
 .box1{
    width: 250px;
    height: 400px;
    background-color: black;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
 }
 .box2{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    
 }
 .box3{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    
 } */
  body{
   background-color: rgba(41, 72, 93, 0.71);
  }
  .lux{
   width: 400px;
   height: 50px;
   background-color: rgb(44, 21, 21);
   margin: auto;
   padding: 10px;
   margin-top: 20px;
color: aliceblue;
  }
  h1{
   margin: auto;
   margin-left: 60px;
   margin-top: 5px;
   
  }
 .lux1{
   width: 65%;
   height: 400px;
   background-color: black;
   margin: auto;
   margin-top: 30px;
   border: 5px solid red;
 } 
 .lux2{
   width: 85%;
   height: 160px;
   background-color: rgb(164, 251, 183);
   margin: auto;
  
 
 }
 div div h2{
     text-align: center;
padding-top: 15px;
 }
 .lux3{
   width: 85%;
   height: 160px;
   background-color: rgb(164, 251, 183);
   margin: auto;
   
   margin-top: 20px;
 }